.footer {
    background-color: var(--black);
    width: 100%;
    padding: 10vh 0;
}

.footer-texto,
.footer-links {
    color: var(--white);
    font-family: var(--text);
    font-size: 1rem;
}

.footer-links {
    color: var(--white);
}

.footer-container {
    max-width: 25rem;
    margin: 0 auto;
}
