:root {
    --fontSystem: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, sans-serif;
    --monospace: 'SFMono-Regular', Consolas, Menlo, Courier, monospace;
    --black: #111;
    --white: #fff;
    --yellow: #FAC92F;
    --purple: #170b38;
    --redstep: #FB5A60;
    --yellowalpha: rgba(250, 201, 47, .8);
    --title: 'Notable', sans-serif;
    --text: 'IBM Plex Serif', serif;
    --number: 'Archivo Black', sans-serif;
}
