@import '_variables';
@import '_scroll';

html {
    line-height: 1.3;
}

body {
    margin: 0;
    background-color: var(--black);
}

.header {
    height: 90vh;
    background: linear-gradient(170deg, var(--purple) 40% , var(--black) 100%);
    position: relative;
}

.header-title {
    font-size: 2rem;
    font-family: var(--title);
    color: var(--white);
    position: absolute;
    letter-spacing: 3px;
    padding: 2rem;
    margin: 0;
    line-height: 1.3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circles {
    fill: var(--white);
}

.chart-container {
    background-color: var(--white);
}

.chart-ao-text {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
}

.chart-ao-text-title {
    font-size: 2rem;
    font-family: var(--title);
}

.chart-ao-text-paragraph {
    font-size: 1rem;
    font-family: var(--text);
    max-width: 25rem;
}

.datos-title {
    font-family: var(--text);
    margin-bottom: 0;
}

.asesinadas {
    /* stylelint-disable */
    position: -webkit-sticky;
    position: sticky;
    /* stylelint-enable */
    top: 90vh;
    text-align: right;
    z-index: 10;
    font-size: 1rem;
    font-family: var(--text);
    color: var(--white);
    padding: .5rem;
}

.asesinadas-numero {
    font-size: 2rem;
    font-family: var(--number);
}

@media only screen and (min-width: 48em) {
    .chart-ao-text {
        width: 30rem;
    }

    .header-title {
        font-size: 3rem;
    }

    .header {
        height: 100vh;
    }
}
